body {
  margin: 0;
  padding: 60px 0;
  font-size: 14px;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.inner {
  width: calc(100% - 40px);
  max-width: 1100px;
  margin: 0 auto;
}

.body {
  /* display: flex;
  gap: calc(152 / 1100 * 100%);
  justify-content: space-between; */
  overflow: hidden;
}

.catWrapper {
  float: left;
  width: 290px;
  flex: 0 0 290px;
}

.cat {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 4px;
}

.cat-item a {
  display: inline-block;
  padding: 8px 14px;
  line-height: 1.25;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  background-color: #fff;
  color: #606060;
}

.articleSliderWrapper {
  float: right;
  width: 690px;
}

.articleSlider {
  width: 100vw;
  margin-right: calc(50% - 50vw);
  overflow: hidden;
}

.articleSlider .slick-arrow {
  top: initial;
  width: 24px;
  height: 24px;
  background-color: #222;
  border-radius: 50%;
}

.articleSlider .slick-arrow::before {
  content: '';
}

.articleSlider .slick-prev {
  left: 0;
}

.articleSlider .slick-next {
  left: 32px;
}

.articleSlider .slick-prev,
.articleSlider .slick-next {
  bottom: -32px;
}

.article {
  padding: 0 10px;
  max-width: 216px;
}

.article-link {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.article-imgWrapper {
  aspect-ratio: 216 / 162;
  border-radius: 12px;
  overflow: hidden;
}

.article-imgWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-meta {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #606060;
  font-size: 12px;
}

.article-office {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.article-office::before {
  content: '';
  display: block;
  width: 1px;
  height: 16px;
  background-color: #cbcbcb;
}

.article-tit {
  color: #222;
  margin-top: 12px;
  font-weight: 400;
  line-height: calc(17 / 14);
}
